.section.colored {
    background: #F7FAFD;

    @media (min-width: 1200px){
   .container {
    max-width: 1140px;
    }

    .row {
        display: flex; 
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px
    
        col-lg-12{
            flex: 0 0 100%;
            max-width: 100%;
          
        }
    
        .center-heading{
text-align: center;

.section-title{
    font-weight: 400;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;

}
        }
    }
    
}




}


@media (min-width: 992px){
.offset-lg-3 {
    margin-left: 25%;
}
}

@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.pricing-item {
    background: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;

    .pricing-header {
        border-bottom: 1px solid #F7FAFD;
        text-align: center;
        height: 130px;
        display: block;
        position: relative;

        pricing-body {
            margin-bottom: 40px;

            .number {
                width: 42px;
                height: 42px;
                line-height: 42px;
                background: #F7FAFD;
                position: relative;
                margin: auto;
                margin-top: -20px;
                text-align: center;
                border-radius: 100%;

                span {
                    font-weight: 400;
                    font-size: 16px;
                    color: #585CE9;
                    display: block;
                }

                .pricing-item .pricing-body .price-wrapper {
                    text-align: center;
                    margin-top: 40px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
}